<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">Register</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="some-padding contact">
  <div class="container">
    <div class="row">
      <span class="required-msg">Fields marked with asterisk(*) are required</span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form action="process.php" method="post" name="ContactForm" id="ContactForm" [formGroup]="registrationForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <mat-form-field style="min-width: 240px;">
                  <mat-label>Type of Instruction</mat-label>
                  <mat-select formControlName="class" name="className" id="selectClass" required>
                    <mat-option value="btwt">License for Teens</mat-option>
                    <mat-option value="btwa">License for Adults</mat-option>
                    <mat-option value="re">Re-Examination</mat-option>
                    <mat-option value="rc">Re-Certification</mat-option>
                    <mat-option value="dic">Driver Improvement Clinic</mat-option>
                    <mat-option value="btw">Behind The Wheel</mat-option>
                    <mat-option value="dec">Driver's Education - Classroom</mat-option>
                    <mat-option value="deo">Driver's Education - Online</mat-option>
                    <mat-option value="pdl">Private Drivig Lessons</mat-option>
                    <mat-option value="spt">Special Package for Teens</mat-option>
                    <mat-option value="spa">Special Package for Adults</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" name="fname" formControlName="fname" required />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Middle Name</mat-label>
                  <input matInput type="text" name="mname" formControlName="mname" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" name="lname" formControlName="lname" required />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row align-center">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Date of Birth</mat-label>
                  <input matInput type="date" name="dob" formControlName="dob" required />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group sexRadio">
                <mat-radio-group aria-label="Select an option" formControlName="sex">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-radio-button value="nonBinary">Non-Binary</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field style="max-width: 120px;">
                  <mat-label>Phone Number</mat-label>
                  <input matInput type="tel" name="phone" formControlName="phone" required (keydown)="phoneKeyUpEvent($event)"/>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput type="email" name="email" formControlName="email" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Address</mat-label>
                  <input matInput type="text" name="address" formControlName="address" required />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>City</mat-label>
                  <input matInput type="text" name="city" formControlName="city" required />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-1 col-3">
              <div class="form-group">
                <mat-form-field style="max-width: 45px;">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state" name="state" required>
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2 col-4">
              <div class="form-group">
                <mat-form-field  style="max-width: 75px;">
                  <mat-label>Zip Code</mat-label>
                  <input matInput type="text" name="zip" formControlName="zip" required />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row align-bottom">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Preferred Start Date</mat-label>
                  <input matInput type="date" name="psd" formControlName="preferredStartDate" [min]="tomorrow" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Preferred Start Time</mat-label>
                  <input matInput type="time" name="pst" formControlName="preferredStartTime" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Comments</mat-label>
                  <textarea matInput name="comments" formControlName="comments"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" (click)="submitRegistration()" [disabled]="!registrationForm.valid"
                class="btn btn-secondary btn-lg wow tada">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>