<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">Register</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="some-padding contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form
          action="process.php"
          method="post"
          name="ContactForm"
          id="ContactForm"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select
                  [formControl]="classSelect"
                  class="form-control"
                  name="className"
                  id="selectClass"
                >
                  <option value="" disabled selected>
                    -- Select type of Instruction --
                  </option>
                  <option value="btwt">License for Teens</option>
                  <option value="btwa">License for Adults</option>
                  <option value="re">Re-Examination</option>
                  <option value="rc">Re-Certification</option>
                  <option value="dic">Driver Improvement Clinic</option>
                  <option value="btw">Behind The Wheel</option>
                  <option value="dec">Driver's Education - Classroom</option>
                  <option value="deo">Driver's Education - Online</option>
                  <option value="pdl">Private Drivig Lessons</option>
                  <option value="spt">Special Package for Teens</option>
                  <option value="spa">Special Package for Adults</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="fname"
                  placeholder="First Name *"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="mname"
                  placeholder="Middle Name"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="lname"
                  placeholder="Last Name *"
                />
              </div>
            </div>
          </div>
          <div class="row align-bottom">
            <div class="col-md-3">
              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-control" name="dob" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group sexRadio">
                <span>
                  <input type="radio" id="male" name="sex" value="male" />
                  <label for="male">Male</label><br /></span
                ><span>
                  <input type="radio" id="female" name="sex" value="female" />
                  <label for="female">Female</label><br
                /></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="tel"
                  class="form-control"
                  name="phone"
                  placeholder="Phone *"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Email *"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  placeholder="Address *"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  placeholder="City *"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="zipcode"
                  placeholder="Zip Code *"
                />
              </div>
            </div>
          </div>
          <div class="row align-bottom">
            <div class="col-md-3">
              <div class="form-group">
                <label for="psd">Preferred Start Date</label>
                <input type="date" class="form-control" name="psd" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="dob">Preferred Start Time</label>
                <input type="time" class="form-control" name="dob" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea
                  rows="5"
                  class="form-control"
                  name="comment"
                  placeholder="Message / Comments"
                  style="height: 150px"
                ></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" (click)="submitRegistration()" [disabled]="!registrationForm.valid" class="btn btn-secondary btn-lg wow tada">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
