<div class="post-title">
  <a  class="pointer" (click)="onReadMore()">{{ title }}</a>
</div>
<div class="post">
  <img class="img-fluid" [src]="imgPath" alt="First item" />
  <div class="textcont fixed-height">
    <div>
      <div class="post-text">
        <p>
          {{ description }}
        </p>
      </div>
    </div>
    <div class="bottom">
      <a class="readmore pointer" (click)="onReadMore()"
        >Read More <i class="icofont-long-arrow-right"></i
      ></a>
      <a class="register pointer" (click)="onRegister()">Register</a>
    </div>
  </div>
</div>
