<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">About Us</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-padding about-sec-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-2-text">
          <h3 class="wow fadeInUp">
            {{ yearsOfExperience }} Years Of Experience In <br /><span>Driving Instruction and Educationt</span>
          </h3>
        </div>
      </div>
      <div class="about-flex">
        <div class="right">
          <div class="item-cont">
            <div class="icon-cont"><i class="icofont-gift"></i></div>
            <div class="text-cont">
              <h3>
                <span class="numscroller" data-min="1" data-max="220" data-delay="5" data-increment="10">220</span>
                +
              </h3>
              <h6>Item Sold</h6>
            </div>
          </div>
          <div class="item-cont">
            <div class="icon-cont">
              <i class="icofont-users-social"></i>
            </div>
            <div class="text-cont">
              <h3>
                <span class="numscroller" data-min="1" data-max="180" data-delay="5" data-increment="10">180</span>
                +
              </h3>
              <h6>Online Clients</h6>
            </div>
          </div>
          <div class="item-cont">
            <div class="icon-cont">
              <i class="icofont-ui-text-chat"></i>
            </div>
            <div class="text-cont">
              <h3>
                <span class="numscroller" data-min="1" data-max="225" data-delay="5" data-increment="10">225</span>
                +
              </h3>
              <h6>Client Feedback</h6>
            </div>
          </div>
        </div>
        <div class="col-md-12 about-text">
          <div class="about-2-text">
            <p>
              Driving your car comes with a lot of responsibility. Having the most
              knowledge and skills in driving will help you become the best and
              safest driver you can be. Potomac Driving School will help you get
              to that level. Our instructors are trained and licensed by the
              Virginia Department of Motor Vehicles, including an annual FBI
              background check. We are full licensed, insured and bonded for your
              protection.
            </p>
            <p>
              Our belief is to form safe, responsible, cautious and defensive
              drivers. Focusing on the specific skills necessary in helping you
              prevent and avoid collisions is one of our main goals. Our rules and
              regulations are based on the Virginia Department of Motor Vehicles
              guidelines. Our vehicles are equipped with dual brake control,
              allowing you and the instructor to be as safe as possible.
            </p>
            <p>
              We are also bilingual. By speaking multiple languages, we can ensure
              we are able to help as many people as possible. Whether you speak
              English or Spanish, you’ll be able to enroll in our driving
              services.
            </p>
          </div>
        </div>
      </div>
     
      <!-- <div class="col-md-6">
        <div class="progress">
          <div class="progress-bar progress-bg" style="width: 40%;">
            HTML 40%
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bg" style="width: 70%;">
            PHP 70%
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bg" style="width: 90%;">
            WordPress 90%
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bg" style="width: 30%;">
            CSS 30%
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- <section class="section-padding about-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="text-cont">
          <h4 class="wow fadeInUp">About us</h4>
          <h2 class="wow fadeInUp">
            {{ yearsOfExperience }} Years Of Experience In <br /><span>Driving Instruction and Educationt</span>
          </h2>
          <p>
            Driving your car comes with a lot of responsibility. Having the most
            knowledge and skills in driving will help you become the best and
            safest driver you can be. Potomac Driving School will help you get
            to that level. Our instructors are trained and licensed by the
            Virginia Department of Motor Vehicles, including an annual FBI
            background check. We are full licensed, insured and bonded for your
            protection.
          </p>
          <p>
            Our belief is to form safe, responsible, cautious and defensive
            drivers. Focusing on the specific skills necessary in helping you
            prevent and avoid collisions is one of our main goals. Our rules and
            regulations are based on the Virginia Department of Motor Vehicles
            guidelines. Our vehicles are equipped with dual brake control,
            allowing you and the instructor to be as safe as possible.
          </p>
          <p>
            We are also bilingual. By speaking multiple languages, we can ensure
            we are able to help as many people as possible. Whether you speak
            English or Spanish, you’ll be able to enroll in our driving
            services.
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="item-cont">
                <div class="icon-cont"><i class="icofont-gift"></i></div>
                <div class="text-cont">
                  <h3>
                    <span class="numscroller" data-min="1" data-max="220" data-delay="5" data-increment="10">220</span>
                    +
                  </h3>
                  <h6>Item Sold</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-cont">
                <div class="icon-cont">
                  <i class="icofont-users-social"></i>
                </div>
                <div class="text-cont">
                  <h3>
                    <span class="numscroller" data-min="1" data-max="180" data-delay="5" data-increment="10">180</span>
                    +
                  </h3>
                  <h6>Online Clients</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-cont">
                <div class="icon-cont">
                  <i class="icofont-ui-text-chat"></i>
                </div>
                <div class="text-cont">
                  <h3>
                    <span class="numscroller" data-min="1" data-max="225" data-delay="5" data-increment="10">225</span>
                    +
                  </h3>
                  <h6>Client Feedback</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section> -->
<!-- <section class="section-padding about-sec-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-2-text">
          <h3 class="wow fadeInUp">
            Our Real Commitment Reaches <br />
            Beyond Gas & Oil Company.
          </h3>
          <h5 class="wow fadeInUp">Our Combined Experience</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-2-text">
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you
            need to be sure there isn't anything
          </p>
          <p>
            Ambarrassing hidden in the middle of text. All the Lorem Ipsum
            generators on the Internet tend to repeat predefined chunks as
            necessary, making this the first true generator on the Internet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->