
.item-cont {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 10px;
  margin-top: -20px;
}

.icon-cont {
  color: #ea5539;
  font-size: 65px;
}

.text-cont h6 {
  color: #909bab;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.text-cont h3 {
  font-weight: 600;
  font-size: 26px;
  margin: 0 0 5px 0;
}

.text-cont h3 span {
  color: black;
  font-weight: 420;
}

.right {
  float: right;
  margin-left: 15px;
}

@media only screen and (max-width: 500px) {
  .icon-cont {
    font-size: 40px;
  }

  .text-cont h3 {
    font-size: 17px;
  }

  .text-cont h6 {
    font-size: 12px;
  }
}


@media only screen and (min-width: 1200px) {
  .about-flex {
    display: flex;
    flex-flow: column;
  }

  .about-text {
    flex: 0;
  }

  .right {
    float: none;
    order: 1;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
  }
}