<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">Services</h2>
          <p class="text-center"><a href="#">Index</a> / Services</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-padding services-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="item"> <i class="icofont-live-support"></i>
          <h4>Premium Support</h4>
          <p>Business Consultancy International is your gateway to a successful future in business.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item"> <i class="icofont-bootstrap"></i>
          <h4>Bootstrap Latest</h4>
          <p>Business Consultancy International is your gateway to a successful future in business.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item"> <i class="icofont-bag"></i>
          <h4>Free Updates</h4>
          <p>Business Consultancy International is your gateway to a successful future in business.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item"> <i class="icofont-puzzle"></i>
          <h4>Easy to Customize</h4>
          <p>Business Consultancy International is your gateway to a successful future in business.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding services-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="img-cont"><img class="img-fluid" src="assets/images/services-2.png" alt="logo"></div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="text-cont">
          <h6>30 Years of Effective Business</h6>
          <h3>Management & Consulting Solutions</h3>
          <p>At the end of the day, going forward, a new normal that has evolved from <br/>
            generation X is on the runway heading towards a streamlined cloud solution.</p>
          <div class="row">
            <div class="col-md-6"> 
              <div class="item">
              <i class="icofont-papers"></i>
              <h4>Strategy & Planning</h4>
              <p>Bring to the table win-win survival strategies to ensure proactive domina-tion. At the end of the day.</p>
              </div>
            </div>
            <div class="col-md-6"> 
              <div class="item">
              <i class="icofont-shield-alt"></i>
              <h4>Data Security</h4>
              <p>Bring to the table win-win survival strategies to ensure proactive domina-tion. At the end of the day.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding services-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item"> <span class="step-point">01</span> <i class="icofont-paint"></i>
          <h5>Premium Design</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting indstry. lpsum has been the</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item"> <span class="step-point">02</span> <i class="icofont-code-alt"></i>
          <h5>Standard Coding</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting indstry. lpsum has been the</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item"> <span class="step-point">03</span> <i class="icofont-responsive"></i>
          <h5>Fully Responsive</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting indstry. lpsum has been the</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item"> <span class="step-point">04</span> <i class="icofont-paper"></i>
          <h5>Well Documented</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting indstry. lpsum has been the</p>
        </div>
      </div>
    </div>
  </div>
</section>