<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">
            Adult Instruction - 18 & Over
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-padding services-1 first-section">
  <div class="container">
    <div class="row">
      <app-card (register)="onRegister('btw')" title="Behind The Wheel">
        <p>
          Adults (18 and older) can take Behind the Wheel in order to obtain their driver’s license.
          This course consists of 7 sessions in the car in which the student will be driving and observing. At the end
          of the course the student will then take a road skills test. Once completed, the student will receive a
          "Completion Certificate - Adult Waiver" which can then be presented to the DMV to receive
          their driver's license. The student no longer will need to take the DMV road test or wait the holding period
          for the Learner's Permit.
        </p>
        <div class="flex-left">
          <ul class="list">
            <span>Requirements:</span>
            <li>Driving Learner's Permit</li>
            <li>
              Driver's Education Certificate. If this class was taken in high school, you can obtain the certificate
              from that high school's office. We also offer Driver's Education online for those who have not taken it,
              such as homeschooled students and students from out of state.
            </li>
          </ul>
        </div>
      </app-card>
      <app-card id="deoCard" (register)="onRegister('deo')" title="Driver's Education">
        <p>
          This course is required by the DMV to obtain your license for students who have not taken the Driver’s
          Education class in high school, such as home schooled students and students coming from out of state.
          The program consists of at least 30 hours of instruction and includes components about alcohol safety, drug
          abuse awareness, aggressive driving, distracted driving, pedestrian and bicycle safety, handicapped parking,
          fuel efficient driving practices, motorcycle awareness and organ and tissue donation awareness as required
          by law. In order to benefit from this course, you must be able to work independently and be comfortable with
          using a
          computer.
        </p>
        <p>
          We offer this class online in affiliation with the National Driver Training Institute.
        </p>
        <div class="flex-left">
          <ol class="list">
            <span>Instructions for Driver Education Online Class:</span>
            <li>Register Online</li>
            <li>Process Payment</li>
            <li>
              Student will receive an email with the link, username and password
              to login and start the class
            </li>
            <li>
              After you finish the class you can now schedule the final test via
              email or by calling our office
            </li>
          </ol>
        </div>
        <div>
          <p>For more information or support contact us:</p>
          <img class="img-fluid" src="/assets/images/National_Driver_Training_Institute.png" />
          <div style="font-size:16px;">
            <div>Tel: 1-800-942-2050</div>
            <div>Tel: 571-333-8887</div>
            <div>Email: info@potomacdriving.com</div>
          </div>
        </div>
        <div class="post-proceds">
          Post following procedures:
          <div>On the day of testing, you must bring the following to the test site:</div>
          <ul>
            <li>Photo identification (DMV issued identification card, school issued identification card, valid
              passport or
              military identification).</li>
            <li>
              Proof of completion of the online driver education course.
            </li>
            <li>
              The online driver training school will provide a computer for testing.
            </li>
          </ul>
        </div>
      </app-card>
      <app-card (register)="onRegister('re')" title="Re-Examination">
        <strong>Failed 3 times Learner's Permit Test:</strong>
        <p>If you have failed the Learner's Permit test 3 times this course is required by the DMV. The course consists
          of one 8 hour in person session where we will go over the information provided in the Virginia Driver's
          Manual.
        </p>
        <strong>Failed 3 times DMV Road Test:</strong>
        <p>
          If you have failed the DMV road test 3 times this course is required by the DMV. This course consists of
          7 fifty-minute classes in our student instruction vehicle. When completed, we will use a certificate that allows the
          student to take the road test at the DMV again.
        </p>
      </app-card>
      <app-card (register)="onRegister('pdl')" title="Private Driving 1 on 1 Lessons">
        <p>These are private lessons for people who have zero to little driving experience. The only requirement is to have a Learner's Permit.</p>
      </app-card>
      <app-card (register)="onRegister('spt')" title="Package Deal">
        <p>This package includes Private Driving 1 on 1 Lessons and Behind the Wheel at a reduced fee.
          This deal is for people who have very poor to no driving skills that would also like to obtain their
          driver's license.
        </p>
      </app-card>
      <app-card id="dicCard" (register)="onRegister('dic')" title="Driving Improvement Clinic">
        <p>This course is either for people who have been mandated to take it (by the DMV or court) or for people who
          need to gain points on their driving record. It is designed to make you aware of rules and regulations of
          the road and become a safer driver. </p>
        <p>
          Taking this course voluntarily will add 5 points to your driving record. We recommend you take this course
          voluntarily if you are facing a traffic violation in court. If you are 21 or younger you must attend this
          class in person.
        </p>
      </app-card>
    </div>
  </div>
</section>