<mat-tab-group>
  <mat-tab label="Home">
    <h3>Learn to feel comfortable behind the wheel</h3>
    <p>Whether you're are looking to get your teen prepared for their driving test or looking to become a better defensive drive,
      Potomac Driving school has the classes and the experienced instructors to teach you the rules of the road and how to
      properly drive at an affordable price. We offer door to door services in most areas of Northern Virginia. Check out
      our driving services for more of our special packages. HABLAMOS ESPAÑOL
    </p>
    <mat-card>Learn More About Us!</mat-card>
    <mat-card>Online Registration</mat-card>
    <mat-card>Driving Improvement Clinic</mat-card>
  </mat-tab>
  <mat-tab label="About us">
    <h3>Certified 1 on 1 private instructional driving service</h3>
    <p>We strive to bring out the very best driver in you. You’ll see instant progress after our expert driving instructions.</p>
    <h4>Professional driving school since 2007</h4>
    <p>Driving your car comes with a lot of responsibility. Having the most knowledge and skills in driving will help you become
      the best and safest driver you can be. Potomac Driving School will help you get to that level. Our instructors are
      trained and licensed by the Virginia Department of Motor Vehicles, including an annual FBI background check. We are
      full licensed, insured and bonded for your protection.</p>
    <p>Our belief is to form safe, responsible, cautious and defensive drivers. Focusing on the specific skills necessary in
      helping you prevent and avoid collisions is one of our main goals. Our rules and regulations are based on the Virginia
      Department of Motor Vehicles guidelines. Our vehicles are equipped with dual brake control, allowing you and the instructor
      to be as safe as possible.</p>
    <p>We are also bilingual. By speaking multiple languages, we can ensure we are able to help as many people as possible.
      Whether you speak English or Spanish, you’ll be able to enroll in our driving services.</p>
  </mat-tab>
  <mat-tab label="Driving Services">
    <h3>Fun and educational driving instruction</h3>
    <p>Get help satisfying your eligibility requirements for Virginia's driving test and written exam from the proffessionals
      at Potomac Driving School</p>
    <h4>Driving Education - Classroom</h4>
    <p>This class consists of 36 hours of classroom lessons to better get you ready for the road. Enrollment for this class
      is ongoing.</p>
    <ul>
      <li>Home schooled students</li>
      <li>Students moving from another Country or another State</li>
      <li>Students who have failed the knowledge test at the DMV 3 times</li>
    </ul>
    <hr>
    <h4>Behind the wheel classes</h4>
    <p>This class consists of 7 sessions, each of them has two different portions: 50 minutes driving and 50 minutes observing,
      the final test is included. In each session the student will have the opportunity to improve his/her driving skills.</p>
    <p>Upon successful completion of the course, Potomac Driving School will issue a temporary license valid for 6 months. This
      document along with the Learner’s Permit will be the license for the new driver. The student will be exempt from the
      road skills test at the DMV. Within the next few months the Juvenile Court will send a letter with the date and time
      of the Licensing Ceremony. At the Ceremony the student will receive the hard copy of the license.</p>
    <hr>
    <h4>Private Driving Lessons - 1 on 1 lessons</h4>
    <p>This driving class is designed for people of all ages that need to learn how to drive no matter what level you’re driving
      skill is. Our VA certified instructors will help develop the first steps to becoming a responsible driver.</p>
  </mat-tab>
  <mat-tab label="Driving Improvement Clinic">
    <h3>If you failed the DMV test 3 times</h3>
    <h4>Re-Examination</h4>
    <p>If you are 19 and under and have failed the Learner’s Permit Test three times, you must take the Driver Education Classroom,
      36 hours. </p>
    <p>If you are 19 and over and have failed the Learner’s Permit test three times, you must take a re-examination class. In
      this class, the student will review rules, regulations, signs, signals and safety in an 8 hour class, and be ready
      for the Learner’s Permit test at the DMV.</p>
    <hr>
    <h4>Re-Certification</h4>
    <p>If you have failed the DMV’s road test three times, you must take a re-certification class.</p>
    <p>The re-certification course consists of 7 driving sessions, 60 minutes each. This class is designed to take and pass
      the DMV road test. Furthermore, we form our students to be responsible, cautious, safe and defensive drivers.</p>
    <ul>
      <li>1 on 1 Lessons</li>
      <li>Flexible Schedule, seven days a week including evenings</li>
      <li>School car available to take the road test at the DMV</li>
    </ul>
    <p>These classes are professionally taught by instructors who are certified by Virginia State Board of Education and licensed
      by the Department of Motor Vehicles.</p>
  </mat-tab>
  <mat-tab label="Online Registration">
    <h3>Registration</h3>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Class">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Middle Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone #">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Starting Time">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Comments">
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Contact">
    Giant Map
    <span>
      <strong>Tel:</strong>571-333-8887</span>
    <span>
      <strong>Cell:</strong>571-426-9572</span>
    <span>
      <strong>Email:</strong>info@potomacdriving.com</span>
    <p>We are insured and bonded for your protection Certified by Virginia State Board of Education</p>
    Video
    <label>Name</label>
    <input type="text">
    <label>Email</label>
    <input type="email">
    <label>Message</label>
    <textarea></textarea>
    <label>Phone</label>
    <input type="text">
    <p>Required</p>
    <button type="button">Submit</button>
  </mat-tab>
</mat-tab-group>
<app-footer></app-footer>