<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">
            Teen Instruction - 17 & Under
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-padding services-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="item">
          <!-- <i class="icofont-live-support"></i> -->
          <img
            class="wheel-icon"
            src="../../../../assets/icons/car-steering-wheel.svg"
            height="45"
            width="45"
          />
          <h3>Behind The Wheel</h3>
          <p>
            This course is required by the DMV for teenages in order to obtain
            their license. It consist of 7 sessions in the car. Each session
            will be 50 minutes driving and 50 minutes observing. The final test
            is included. In each session the student will have the opportunity
            to improve his/her driving skills. Upon successful completion of the
            course, Potomac Driving School will issue a temporary license valid
            for 6 months. This document along with the Learner’s Permit will be
            the license for the new driver. The student will be exempt from the
            road skills test at the DMV. Within the next few months the juvenile
            court will send a letter with the date and time of the Licensing
            Ceremony. At the Ceremony the student will receive the hard copy of
            the license. Requirements: •Driver Education Certificate issued by
            the High School or other DMV approved school •Photocopy of Learner’s
            permit •Payment
          </p>
          <div>
            <ul>
              <h4>Requirements:</h4>
              <li>Driving Learner's Permit</li>
              <li>
                Driver's Education Certificate (can obtain from school's office)
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="item">
          <i class="icofont-bootstrap"></i>
          <h4>Driver's Education</h4>
          <p>
            Making drivers safe since 2007 HABLAMOS ESPAÑOL CTA Do you want to
            become a better driver? Our caring staff is ready to help you.
            Register online or call today! 571-333-8887 Teens Instruction – 17 &
            under 1. Teens Instruction – 17 & under This class consist of 7
            sessions: 50 minutes driving and 50 minutes observing. The final
            test is included. In each session the student will have the
            opportunity to improve his/her driving skills. Upon successful
            completion of the course, Potomac Driving School will issue a
            temporary license valid for 6 months. This document along with the
            Learner’s Permit will be the license for the new driver. The student
            will be exempt from the road skills test at the DMV. Within the next
            few months the juvenile court will send a letter with the date and
            time of the Licensing Ceremony. At the Ceremony the student will
            receive the hard copy of the license. Requirements: •Driver
            Education Certificate issued by the High School or other DMV
            approved school •Photocopy of Learner’s permit •Payment 2. Driver
            Education On Line This is an online class with the partnership of
            National Driver Training. •It is directed to Home Schooled students
            •Students moving from another Country of State •Students who have
            not taken the Driver Education Class in high school due to different
            reasons The program consists of at least 30 hours of instruction and
            includes components about alcohol safety, drug abuse awareness,
            aggressive driving, distracted driving, pedestrian and bicycle
            safety, handicapped parking, fuel efficient driving practices,
            motorcycle awareness and organ and tissue donation awareness as
            required by law. You must be at least 15 years and 6 months old to
            take the online driver education course. All individuals who elect
            to take the classroom component of the driver education course
            online must take the online course through a DMV licensed driver
            training school. Homeschooled students are exempt from this
            requirement. In order to benefit from this course, you must be able
            to work independently and be comfortable with using a computer.
            Instructions for Driver Education Online Class: 1. Register Online
            2. Process Payment 3. Student will receive an email with the link,
            username and password to login and start the class 4. After you
            finish the class you can now schedule the final test via email or by
            calling our office
          </p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="item">
          <i class="icofont-bag"></i>
          <h4>Free Updates</h4>
          <p>
            Business Consultancy International is your gateway to a successful
            future in business.
          </p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="item">
          <i class="icofont-puzzle"></i>
          <h4>Easy to Customize</h4>
          <p>
            Business Consultancy International is your gateway to a successful
            future in business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding services-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="img-cont">
          <img
            class="img-fluid"
            src="assets/images/services-2.png"
            alt="logo"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="text-cont">
          <h6>30 Years of Effective Business</h6>
          <h3>Management & Consulting Solutions</h3>
          <p>
            At the end of the day, going forward, a new normal that has evolved
            from <br />
            generation X is on the runway heading towards a streamlined cloud
            solution.
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="item">
                <i class="icofont-papers"></i>
                <h4>Strategy & Planning</h4>
                <p>
                  Bring to the table win-win survival strategies to ensure
                  proactive domina-tion. At the end of the day.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="item">
                <i class="icofont-shield-alt"></i>
                <h4>Data Security</h4>
                <p>
                  Bring to the table win-win survival strategies to ensure
                  proactive domina-tion. At the end of the day.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding services-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item">
          <span class="step-point">01</span> <i class="icofont-paint"></i>
          <h5>Premium Design</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            indstry. lpsum has been the
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item">
          <span class="step-point">02</span> <i class="icofont-code-alt"></i>
          <h5>Standard Coding</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            indstry. lpsum has been the
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item">
          <span class="step-point">03</span> <i class="icofont-responsive"></i>
          <h5>Fully Responsive</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            indstry. lpsum has been the
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services-2-item">
          <span class="step-point">04</span> <i class="icofont-paper"></i>
          <h5>Well Documented</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            indstry. lpsum has been the
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
