.post .bottom {
  display: flex;
  justify-content: space-between;
}

.bottom .register {
  color: #ea5539;
}

.link :hover {
  cursor: pointer;
}

.fixed-height {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
