.post .bottom {
  display: flex;
  justify-content: space-between;
}

.bottom .register {
  color: #ea5539;
}

.link :hover {
  cursor: pointer;
}

.fixed-height {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.post-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.post {
  margin-top: 0;
}