<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="item">
            <a href="index.html"
              ><strong class="white">Potomac Driving School</strong></a
            >
            <p>info@potomacdriving.com</p>
            <p>703-505-6693</p>
          </div>
        </div>
          <div class="col-lg-6 col-md-6">
          <div class="item">
            <h5>Follow us on Social Media</h5>
            <ul class="social">
              <li>
                <a
                  target="_blank"
                  href="https://www.facebook.com/Potomac-Driving-School-789186621193608"
                  ><i class="icofont-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/potomacdrivingschoolva/"
                  ><i class="icofont-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
