<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="item">
            <a href="index.html"
              ><strong class="white">Potomac Driving School</strong></a
            >
            <p>info@potomacdriving.com</p>
            <p>703-505-6693</p>
          </div>
          <div class="item">
            <h5>Follow us on Social Media</h5>
            <ul class="social">
              <li>
                <a
                  target="_blank"
                  href="https://www.facebook.com/Potomac-Driving-School-789186621193608"
                  ><i class="icofont-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/potomacdrivingschoolva/"
                  ><i class="icofont-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-2 col-md-6">
          <div class="item">
            <h5>More About</h5>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <h5>Subscribe to us</h5>
            <form class="subscribe" action="#" method="post">
              <input
                type="text"
                name="subscribe"
                id="subscribe"
                placeholder="Subscribe your mail id"
              />
              <input type="submit" class="subscribe-btn" value="Subscribe" />
            </form>
          </div>
          <div class="item">
            <img src="assets/images/payment.png" class="img-fluid" alt="" />
            <p>© 2020 All Rights Reserved by Potomac Driving School</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
