<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 contact-info-container">
          <div class="item">
            <a href="index.html"><strong class="white">Potomac Driving School</strong></a>
            <p>info@potomacdriving.com</p>
            <p>571-333-8887 or 571-426-9572</p>
            <p>22648 Glenn Dr
              Sterling VA 20164
              United States</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 social-media-container">
          <div class="item">
            <h5>Follow us on Social Media</h5>
            <ul class="social">
              <li>
                <a target="_blank" href="https://www.facebook.com/Potomac-Driving-School-789186621193608"><i
                    class="icofont-facebook"></i></a>
              </li>
              <li>
                <a target="_blank" href="https://www.instagram.com/potomacdrivingschoolva/"><i
                    class="icofont-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>