<div class="inner-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="inner-header-text">
          <h2 class="animated fadeInUp text-center">
            Adult Instruction - 18 & Over
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-padding services-1 first-section">
  <div class="container">
    <div class="row">
      <app-card
        (register)="onRegister('btwt')"
        title="Behind The Wheel"
        iconPath="../../../../assets/icons/car-steering-wheel.svg"
      >
        <p>
          This course consists of 7 sessions in the car in which the student
          will be driving and observing. At the end of the course the student
          will then take the a road skills test. Upon completion the student
          will receive a Completion Certificate – Adult Waiver, which allows the
          student to waive the holding period of the learner’s permit and the
          road skill test at DMV
        </p>
        <div class="flex-left">
          <ul class="list">
            <span>Requirements:</span>
            <li>Driving Learner's Permit</li>
            <li>
              Driver's Education Certificate. This can obtained from school's
              office. You can also take the course with us here.
            </li>
          </ul>
        </div>
      </app-card>
      <app-card
        (register)="onRegister('deo')"
        title="Driver's Education"
        iconPath="../../../../assets/icons/school-24px.svg"
      >
        <p>
          This is an online class with the partnership of National Driver
          Training directed to students who have not taken the Driver Education
          Class in high school such as home schooled students or students moving
          from another country or state.
        </p>
        <p>
          The program consists of at least 30 hours of instruction and includes
          components about alcohol safety, drug abuse awareness, aggressive
          driving, distracted driving, pedestrian and bicycle safety,
          handicapped parking, fuel efficient driving practices, motorcycle
          awareness and organ and tissue donation awareness as required by law.
        </p>
        <p>
          In order to benefit from this course, you must be able to work
          independently and be comfortable with using a computer.
        </p>
        <div class="flex-left">
          <ol class="list">
            <span>Instructions for Driver Education Online Class:</span>
            <li>Register Online</li>
            <li>Process Payment</li>
            <li>
              Student will receive an email with the link, username and password
              to login and start the class
            </li>
            <li>
              After you finish the class you can now schedule the final test via
              email or by calling our office
            </li>
          </ol>
        </div>
      </app-card>
      <app-card
        (register)="onRegister('re')"
        title="Re-Examination (Failed 3 times DMV Learner’s Permit Test)"
      >
        <p>
          8 hour Driver’s Manual Couse, in this class the students will review
          rules, regulations, signs, signals and safe driving instructions.
          After completion Potomac Driving School will use a certificate that
          will allow the student to retake the written test at the DMV
        </p>
      </app-card>
      <app-card
        (register)="onRegister('re')"
        title="Re-Examination (Failed 3 times DMV Road Test)"
      >
        <p>
          7 fifty-minute periods of in-vehicle instruction, after completion
          Potomac Driving School will use a certificate that will allow the
          student to retake the road test at the DMV.
        </p>
      </app-card>
      <app-card
        (register)="onRegister('pdl')"
        title="Private Driving 1 on 1 Lessons"
      >
        <p>
          These driving lessons are designed for people of all ages that need to
          learn how to drive regardless of your level of driving skill. Our
          Virginia certified instructors will help develop the skills to become
          a responsible driver.
        </p>
      </app-card>
      <app-card (register)="onRegister('spt')" title="Package Deal">
        <p>
          These deal is targeted at students that would like to take private
          driving lessons plus classes to get licenced.
        </p>
      </app-card>
      <app-card
        (register)="onRegister('dic')"
        title="Driving Improvement Clinic"
      >
        <p>
          This is offered to all drivers who have received a driving ticket.
        </p>
        <div class="flex-left">
          <ul class="list">
            <span>Reasons to take a Driving Improvement Clinic::</span>
            <li>
              Driver would like to improve his/her driving record by gaining +5
              points
            </li>
            <li>DMV mandated</li>
            <li>Court mandated</li>
          </ul>
        </div>
      </app-card>
    </div>
  </div>
</section>
